<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<p><%= @restaurant.name %> </p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= render "form_review", review: @review %>
<%= link_to 'Back to list', restaurants_path, class: "btn btn-primary" %>


<% @restaurant.reviews.each do |review| %>
<li><%= review.content %> <%= review.rating %>/5 </li>
<% end %>
